<h1>Welcome to Elena's KIEI-925 poker table!</h1>

<%
number1 = ["ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit1 = ["clubs","diamonds","hearts","spades"].sample
number2 = ["ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit2 = ["clubs","diamonds","hearts","spades"].sample
number3 = ["ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit3 = ["clubs","diamonds","hearts","spades"].sample
number4 = ["ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit4 = ["clubs","diamonds","hearts","spades"].sample
number5 = ["ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit5 = ["clubs","diamonds","hearts","spades"].sample
%>

<img src="http://golearntocode.com/images/cards/<%= number1 %>_of_<%= suit1 %>.png">
<img src="http://golearntocode.com/images/cards/<%= number2 %>_of_<%= suit2 %>.png">
<img src="http://golearntocode.com/images/cards/<%= number3 %>_of_<%= suit3 %>.png">
<img src="http://golearntocode.com/images/cards/<%= number4 %>_of_<%= suit4 %>.png">
<img src="http://golearntocode.com/images/cards/<%= number5 %>_of_<%= suit5 %>.png">

